.expense-details {
    width: 45%;
    height: 400px;
    background: #EEE3A4;
    border: 3px solid #000000;
    border-radius: 25px;
    margin-left: 25%;
    margin-top: 10%;
}

.expense-details h2 {
    margin-left: 2.5%;
    text-align: center;
    width: 100%;
    font-size: 4vw;
    font-family: 'Inter', sans-serif;
}

.expense-details th, td {
    border: 3px solid #000000;
}
.expense-details table{
    border-collapse: collapse;
    font-family: Inter, sans-serif;
    margin-left: 30%;
    width: 5%;
    height: 30px;
    font-size: 2.5vw;
}


@media only screen and (max-width: 1100px) {
    .expense-details h2{
        font-size: 4vw;
    }
    .expense-details table{
        margin-top: 15%;
        margin-left: 35%;
        font-size: 3vw;
    }
}

@media only screen and (max-width: 1000px) {
    .expense-details h2{
        font-size: 4vw;
    }
    .expense-details table{
        margin-top: 15%;
        margin-left: 30%;
        font-size: 4vw;
    }
}

@media only screen and (max-width: 900px) {
    .expense-details h2{
        font-size: 5vw;
    }
    .expense-details table{
        margin-top: 20%;
        margin-left: 25%;
        font-size: 4vw;

    }
}

@media only screen and (max-width: 800px) {
    .expense-details h2{
        font-size: 7vw;
    }
    .expense-details table{
        margin-top: 25%;
        margin-left: 20%;
        font-size: 4vw;
    }
}

@media only screen and (max-width: 700px) {
    .expense-details h2{
        font-size: 7vw;
    }
    .expense-details table{
        margin-top: 25%;
        margin-left: 20%;
        font-size: 3vw;
    }

}

@media only screen and (max-width: 600px) {
    .expense-details h2{
        font-size: 7vw;
    }
    .expense-details table{
        margin-top: 25%;
        margin-left: 20%;
        font-size: 3vw;
    }
    .expense-details {
        width: 45%;
        height: 250px;
        background: #EEE3A4;
        border: 3px solid #000000;
        border-radius: 25px;
        margin-left: 25%;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 500px) {
    .expense-details h2{
        font-size: 7vw;
    }
    .expense-details table{
        margin-top: 25%;
        margin-left: 20%;
        font-size: 4vw;
    }
    .expense-details {
        width: 45%;
        height: 250px;
        background: #EEE3A4;
        border: 3px solid #000000;
        border-radius: 25px;
        margin-left: 25%;
        margin-top: 10%;
    }
}
@media only screen and (max-width: 400px) {
    .expense-details h2{
        font-size: 7vw;
    }
    .expense-details table{
        margin-top: 25%;
        margin-left: 20%;
        font-size: 4vw;
    }
    .expense-details {
        width: 45%;
        height: 250px;
        background: #EEE3A4;
        border: 3px solid #000000;
        border-radius: 25px;
        margin-left: 25%;
        margin-top: 10%;
    }
}