body {
    background: #CDB7E9;
}

img[id='icon-pfp'] {
    position: fixed;
    width:5.5%;
    top: 1%;
    right: 2%;
}

/* Nav Bar*/
header {
    position: fixed;
    height: 10%;
    display: flex;
}

header * {
    display: flex;
    align-items: center;
}

header li {
    margin: 6.5%;
    font-size: 2vw; /* Use viewport width as font size */
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

header li a {
    color: black;
    text-decoration: none;
}

.nav-button {
    box-sizing: border-box;
    background: #EEE3A4;
    padding: 8% 16%; /* Use percentage for padding */
    border: 3px solid #000000;
    border-radius: 12px;
}

.h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    align-content: center;
}

.title {
    text-align: center;
    margin-top: 10vh;
    height: 20vh;
    margin-bottom: 1vh;
    font-size: 1vw;
}

body {
    background-color: #CDB7E9;
}

.scroll-box {
    background-color: #FFFFFF;
    height: 70vh;
    max-height: calc(65vh - 10vh);
    overflow: auto;
    padding: 2em;
    position: fixed;
    bottom: 1em;
    width: 80%;
    left: 10%;
    border: 2px solid black;
}
.item {
    background-color: #F3ECC1;
    color: #000000;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.item div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.item strong, .item span {
    font-size: 1.25em;
    margin-right: 0.5em;
}
.item button {
    font-size: 1.25em;
    font-weight: bold;
    margin-right: 0.5em;
}
.btn {
    background-color: #FFFFFF;
    color: #000000;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 3.125em;
    line-height: 1.5;
}
#add-item-btn {
    background-color: #EEE3A4;
    color: #000000;
    /*font-size: 1.5em;*/
    font-size: 1.5vw;
    /*padding: 0.5em 1em;*/
    padding: 1vh 2vw;
    border: 1px solid #000000;
    border-radius: 10px;
    display: block;
    /*plz work for the love of */
    position: relative;
    top: 15vh;
    right: 2vw;
    left: 2vw;
}
/*adding new item-  trying to fix layout for new items so it matches others */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
form > * {
    margin-bottom: 1em;
}
form label {
    font-size: 1.25em;
    margin-right: 10px;
}
form input {
    padding: 5px;
    font-size: 1.25em;
    border: none;
    border-bottom: 2px solid black;
    background-color: #F3ECC1;
}
/* trying modal box to add an item */
#add-item-modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
#add-item-modal form {
    background-color: #F3ECC1;
    margin: auto;
    padding: 20px;
    border: 2px solid #000000;
    width: 80%;
}
#add-item-modal form label {
    font-size: 20px;
    margin-right: 10px;
}
#add-item-modal form input {
    padding: 5px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid black;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    width: 100%;
}
#add-item-modal form button[type="submit"],
#add-item-modal form button[type="button"] {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #000000;
}
/*  trying to get +/- buttons horizonal, not stacked!!*/
.quantity-btn {
    display: inline-flex;
}
