body {
    background: #CDB7E9;
}

img[id='icon-pfp'] {
    position: fixed;
    width:5.5%;
    top: 1%;
    right: 2%;
}

/* Nav Bar*/
header {
    position: fixed;
    height: 10%;
    display: flex;
}

header * {
    display: flex;
    align-items: center;
}

header li {
    margin: 6.5%;
    font-size: 2vw; /* Use viewport width as font size */
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.nav-button {
    box-sizing: border-box;
    background: #EEE3A4;
    padding: 8% 16%; /* Use percentage for padding */
    border: 3px solid #000000;
    border-radius: 12px;
}

.h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3vw;
    line-height: 1.2;
    align-content: center;
}

/* Add Bill Button */
button[class="add_bill"] {
    margin-top: 7.5%;
    padding: 1.5% 3%;
    background: #EEE3A4;
    border-radius: 12px;

    font-size: 2vw; /* Use viewport width as font size */
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

/* Chart */
div[id="donutchart"] {
    background: #CDB7E9;
    position: absolute;
    width: 40%;
    height: 20%;
    left: 2%;
    top: 30%;
}

/* Bill Section Background*/
div[class="bill_section"] {
    position: fixed;
    top: 15%;
    right: 2%;
    width: 50%;
    height: 81%;
    overflow: auto;
    background: #FFFFFF;
    border-radius: 15px;
}

/* Bill Box */
div[class="bill_box"] {
    position: absolute;
    left: 4%;
    right: 4%;
    top: 4%;
    bottom: 80%;
    background: #EEE3A4;
    border-radius: 15px;
}

/* Bill Name */
span[class="bill_Name"] {
    position: absolute;
    left: 3%;
    right: 30%;
    top: 10%;
    bottom: 90%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 4.5vw;
    color: #000000;
}

/* Bill Date */
span[class="bill_Date"] {
    position: absolute;
    left: 3%;
    right: 30%;
    top: 40%;
    bottom: 85%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 3.5vw;
    color: #000000;
}

/* Bill Amount */
span[class="bill_Amount"]{
    position: absolute;
    left: 63%;
    right: 23.72%;
    top: 26%;
    bottom: 85.63%;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

/*div[class="items"] {*/

/*}*/


/*!* + Add Bill *!*/

/*span[id="add_bill"] {*/
/*    left: 50.07%;*/
/*    right: 50.68%;*/
/*    top: 14.06%;*/
/*    bottom: 82.71%;*/

/*    font-family: 'Inter', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 25px;*/
/*    line-height: 36px;*/

/*    color: #000000;*/
/*}*/

/*!* The popup form - hidden by default *!*/
/*.form-popup {*/
/*    display: none;*/
/*    position: fixed;*/
/*    bottom: 0;*/

/*    box-sizing: border-box;*/

/*    left: -0.15%;*/
/*    right: 0.15%;*/
/*    top: 54.77%;*/
/*    bottom: -2.73%;*/

/*    background: #EEE3A4;*/
/*    border: 3px solid #000000;*/
/*    border-radius: 25px;*/
/*}*/

/*!* Add styles to the form container *!*/
/*.form-container {*/
/*    max-width: 300px;*/
/*    padding: 10px;*/
/*    background-color: white;*/
/*}*/

/*!* Full-width input fields *!*/
/*.form-container input[type=text], .form-container input[type=date], .form-container input[type=number] {*/
/*    width: 100%;*/
/*    padding: 15px;*/
/*    margin: 5px 0 22px 0;*/
/*    border: none;*/
/*    !*background: #f1f1f1;*!*/
/*    !*position: absolute;*!*/
/*    !*width: 509px;*!*/
/*    !*height: 75px;*!*/
/*    !*left: 219px;*!*/
/*    !*top: 657px;*!*/

/*    background: #CDB7E9;*/
/*}*/

/*!* When the inputs get focus, do something *!*/
/*.form-container input[type=text]:focus, .form-container input[type=password]:focus {*/
/*    background-color: #ddd;*/
/*    outline: none;*/
/*}*/

/*!* Set a style for the submit/login button *!*/
/*.form-container .btn {*/
/*    background-color: #04AA6D;*/
/*    color: white;*/
/*    padding: 16px 20px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    width: 100%;*/
/*    margin-bottom:10px;*/
/*    opacity: 0.8;*/
/*}*/

/*!* Add a red background color to the cancel button *!*/
/*.form-container .cancel {*/
/*    background-color: red;*/
/*}*/

/*!* Add some hover effects to buttons *!*/
/*.form-container .btn:hover, .open-button:hover {*/
/*    opacity: 1;*/
/*}*/