body{
    background: #CDB7E9;
    position: fixed;
}

.icon {
    width: 110px;
    height: 80px;
}

.icon-pfp {
    left: 95%;
}

/* Nav Bar*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
}

header * {
    display: flex;
    align-items: center;
}

header li {
    margin: 22px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.nav-button {
    box-sizing: border-box;
    background: #EEE3A4;
    padding: 20px 50px;
    border: 3px solid #000000;
    border-radius: 12px;
}
.h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    align-content: center;
}

/* Add Bill Button */
button[class="add_bill"] {
    background: #EEE3A4;
    position: absolute;
    width: 231px;
    height: 78px;
    left: 38px;
    top: 105px;
    /*border: 5px;*/
    background: #EEE3A4;
    /*border: 3px solid #000000;*/
    border-radius: 12px;
}

/* Chart */

div[id="donutchart"] {
    background: #CDB7E9;
    position: absolute;
    width: 400px;
    height: 180px;
    left: 30px;
    top: 230px;
}

/* Bill Items Section */

div[id="bill_section"] {
    position: absolute;
    width: 704px;
    height: 655px;
    left: 710px;
    top: 105px;

    background: #FFFFFF;
    border-radius: 15px;
}

/*div[class="items"] {*/

/*}*/


/*!* + Add Bill *!*/

/*span[id="add_bill"] {*/
/*    left: 50.07%;*/
/*    right: 50.68%;*/
/*    top: 14.06%;*/
/*    bottom: 82.71%;*/

/*    font-family: 'Inter', sans-serif;*/
/*    font-style: normal;*/
/*    font-weight: 700;*/
/*    font-size: 25px;*/
/*    line-height: 36px;*/

/*    color: #000000;*/
/*}*/

/*!* The popup form - hidden by default *!*/
/*.form-popup {*/
/*    display: none;*/
/*    position: fixed;*/
/*    bottom: 0;*/

/*    box-sizing: border-box;*/

/*    left: -0.15%;*/
/*    right: 0.15%;*/
/*    top: 54.77%;*/
/*    bottom: -2.73%;*/

/*    background: #EEE3A4;*/
/*    border: 3px solid #000000;*/
/*    border-radius: 25px;*/
/*}*/

/*!* Add styles to the form container *!*/
/*.form-container {*/
/*    max-width: 300px;*/
/*    padding: 10px;*/
/*    background-color: white;*/
/*}*/

/*!* Full-width input fields *!*/
/*.form-container input[type=text], .form-container input[type=date], .form-container input[type=number] {*/
/*    width: 100%;*/
/*    padding: 15px;*/
/*    margin: 5px 0 22px 0;*/
/*    border: none;*/
/*    !*background: #f1f1f1;*!*/
/*    !*position: absolute;*!*/
/*    !*width: 509px;*!*/
/*    !*height: 75px;*!*/
/*    !*left: 219px;*!*/
/*    !*top: 657px;*!*/

/*    background: #CDB7E9;*/
/*}*/

/*!* When the inputs get focus, do something *!*/
/*.form-container input[type=text]:focus, .form-container input[type=password]:focus {*/
/*    background-color: #ddd;*/
/*    outline: none;*/
/*}*/

/*!* Set a style for the submit/login button *!*/
/*.form-container .btn {*/
/*    background-color: #04AA6D;*/
/*    color: white;*/
/*    padding: 16px 20px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    width: 100%;*/
/*    margin-bottom:10px;*/
/*    opacity: 0.8;*/
/*}*/

/*!* Add a red background color to the cancel button *!*/
/*.form-container .cancel {*/
/*    background-color: red;*/
/*}*/

/*!* Add some hover effects to buttons *!*/
/*.form-container .btn:hover, .open-button:hover {*/
/*    opacity: 1;*/
/*}*/