body{
    background-color: #CDB7E9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a, a:link{
    margin-left: 0%;
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: #523379;
}

input[type=text] {
    width: 610px;
    font-weight: bold;
    font-size: larger;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid black;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 610px;
    font-weight: bold;
    font-size: larger;
    background-color: #EEE3A4;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid black;
    border-radius: 15px;
}

button[id="reset-password-submit"] {
    width: 610px;
    font-weight: bold;
    font-size: larger;
    background-color: #EEE3A4;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 3px solid black;
    border-radius: 15px;
}

input[type=password] {
    width: 610px;
    font-weight: bold;
    font-size: larger;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid black;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type=email] {
    width: 610px;
    font-weight: bold;
    font-size: larger;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid black;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #7f699c;
}

.forgotElement h3{
    margin-right: 20%;
    font-weight: lighter;
    font-size:2vw;
}

.forgotElement h2{
    margin-left:17.5%;
}

/* login.html */

.loginElement {
    align-items: center;
    justify-content: center;
    margin-top: 350px;
    margin-left: 550px;
}

.forgotpw{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 470px;
}

.newuser{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 220px;
}

/* register.html */

.registerElement {
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    margin-left: 550px;
}

.forgotElement {
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    margin-left: 30%;
}
.olduser{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 190px;
}

@media screen and (max-width: 1100px) {
    .loginElement {
        font-size: 2vw;
        margin-top: 30%;
        margin-left: 5%;
        align-content: center;
    }

    .loginElement input[type=text] {
        width: 50%;
        margin-left: 25%;
    }

    .loginElement input[type=submit] {
        width: 50%;
        margin-left: 25%;
    }

    .loginElement input[type=password] {
        width: 50%;
        margin-left: 25%;
    }
    .newuser {
        margin-right: 26%;
    }

    .forgotpw{
        margin-left: 32%;
    }

    .registerElement {
        font-size: 2vw;
        margin-top: 20%;
        margin-left: 0%;
    }

    .registerElement input[type=text] {
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=submit] {
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=email]{
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=password] {
        width: 50%;
        margin-left: 25%;
    }
    .registerElement a, a:link,a:hover{
        margin-left: 35%;
    }

    .olduser {
        margin-left: 4%;
    }

    .forgotElement{
        font-size: 2vw;
        margin-left: 22.5%;
    }

    .forgotElement h2{
        margin-left: 20%;
    }

}

@media screen and (max-width: 900px) {
    .loginElement {
        font-size: 2vw;
        margin-top: 30%;
        margin-left: 5%;
        align-content: center;
    }

    .loginElement input[type=text] {
        width: 50%;
        margin-left: 25%;
    }

    .loginElement input[type=submit] {
        width: 50%;
        margin-left: 25%;
    }

    .loginElement input[type=password] {
        width: 50%;
        margin-left: 25%;
    }
    .newuser {
        margin-right: 30%;
    }

    .forgotpw{
        margin-left: 32%;
    }

    .registerElement {
        font-size: 2vw;
        margin-top: 20%;
        margin-left: 0%;
    }

    .registerElement input[type=text] {
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=submit] {
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=email]{
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=password] {
        width: 50%;
        margin-left: 25%;
    }
    .registerElement a, a:link,a:hover{
        margin-left: 35%;
    }

    .olduser {
        margin-left: 4%;
    }

    .forgotElement{
        font-size: 2vw;
        margin-left: 22.5%;
    }

    .forgotElement h2{
        margin-left: 20%;
    }

}

@media screen and (max-width: 800px) {
    .loginElement {
        font-size: 2vw;
        margin-top: 30%;
        margin-left: 5%;
        align-content: center;
    }

    .loginElement input[type=text] {
        width: 50%;
        margin-left: 25%;
    }

    .loginElement input[type=submit] {
        width: 50%;
        margin-left: 25%;
    }

    .loginElement input[type=password] {
        width: 50%;
        margin-left: 25%;
    }
    .newuser {
        margin-right: 38%;
    }

    .forgotpw{
        margin-left: 32%;
    }

    .registerElement {
        font-size: 2vw;
        margin-top: 20%;
        margin-left: 0%;
    }

    .registerElement input[type=text] {
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=submit] {
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=email]{
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=password] {
        width: 50%;
        margin-left: 25%;
    }
    .registerElement a, a:link,a:hover{
        margin-left: 35%;
    }

    .olduser {
        margin-left: 4%;
    }

    .forgotElement{
        font-size: 2vw;
        margin-left: 22.5%;
    }

    .forgotElement h2{
        margin-left: 20%;
    }

}

@media screen and (max-width: 700px) {
    .loginElement {
        font-size: 2vw;
        margin-top: 30%;
        margin-left: 2.5%;
        align-content: center;
    }

    .loginElement input[type=text] {
        width: 50%;
        margin-left: 25%;
    }

    .loginElement input[type=submit] {
        width: 50%;
        margin-left: 25%;
    }

    .loginElement input[type=password] {
        width: 50%;
        margin-left: 25%;
    }
    .newuser {
        margin-right: 35.5%;
    }

    .forgotpw{
        margin-left: 32%;
    }

    .registerElement {
        font-size: 2vw;
        margin-top: 20%;
        margin-left: 0%;
    }

    .registerElement input[type=text] {
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=submit] {
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=email]{
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=password] {
        width: 50%;
        margin-left: 25%;
    }
    .registerElement a, a:link,a:hover{
        margin-left: 35%;
    }

    .olduser {
        margin-left: 4%;
    }

    .forgotElement{
        font-size: 2vw;
        margin-left: 22.5%;
    }

    .forgotElement h2{
        margin-left: 20%;
    }

}

@media screen and (max-width: 600px) {
    .loginElement {
        font-size: 2vw;
        margin-top: 30%;
        margin-left: 2.5%;
        align-content: center;
    }

    .loginElement input[type=text] {
        width: 50%;
        margin-left: 25%;
    }

    .loginElement input[type=submit] {
        width: 50%;
        margin-left: 25%;
    }

    .loginElement input[type=password] {
        width: 50%;
        margin-left: 25%;
    }
    .newuser {
        margin-left: 27.5%;
    }

    .forgotpw{
        margin-left: 32%;
    }

    .registerElement {
        font-size: 2vw;
        margin-top: 20%;
        margin-left: 0%;
    }

    .registerElement input[type=text] {
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=submit] {
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=email]{
        width: 50%;
        margin-left: 25%;
    }

    .registerElement input[type=password] {
        width: 50%;
        margin-left: 25%;
    }
    .registerElement a, a:link,a:hover{
        margin-left: 35%;
    }

    .olduser {
        margin-left: 4%;
    }

    .forgotElement{
        font-size: 2vw;
        margin-left: 22.5%;
    }

    .forgotElement h2{
        margin-left: 20%;
    }

}

@media screen and (max-width: 500px) {
    .loginElement {
        font-size: 3vw;
        margin-top: 30%;
        margin-left: 2.5%;
        align-content: center;
    }

    .loginElement input[type=text] {
        width: 65%;
        margin-left: 17.5%;
    }

    .loginElement input[type=submit] {
        width: 65%;
        margin-left: 17.5%;
    }

    .loginElement input[type=password] {
        width: 65%;
        margin-left: 17.5%;
    }
    .newuser {
        margin-left: 17.5%;
    }

    .forgotpw{
        margin-left: 32%;
    }

    .registerElement {
        font-size: 3vw;
        margin-top: 20%;
        margin-left: 0%;
    }

    .registerElement input[type=text] {
        width: 65%;
        margin-left: 17.5%;
    }

    .registerElement input[type=submit] {
        width: 65%;
        margin-left: 17.5%;
    }

    .registerElement input[type=email]{
        width: 65%;
        margin-left: 17.5%;
    }

    .registerElement input[type=password] {
        width: 65%;
        margin-left: 17.5%;
    }
    .registerElement a, a:link,a:hover{
        margin-left: 35%;
    }

    .olduser {
        margin-left: -6%;
    }

    .forgotElement{
        margin-left: 17.5%;
    }

    .forgotElement h2{
        font-size: 3vw;
        margin-left: 20%;
    }

    .forgotElement h3{
        font-size: 2vw;
    }

}

@media screen and (max-width: 400px) {
    .loginElement {
        font-size: 3vw;
        margin-top: 30%;
        margin-left: 2.5%;
        align-content: center;
    }

    .loginElement input[type=text] {
        width: 65%;
        margin-left: 17.5%;
    }

    .loginElement input[type=submit] {
        width: 65%;
        margin-left: 17.5%;
    }

    .loginElement input[type=password] {
        width: 65%;
        margin-left: 17.5%;
    }
    .newuser {
        margin-left: 16%;
    }

    .forgotpw{
        margin-left: 32%;
    }

    .registerElement {
        font-size: 3vw;
        margin-top: 20%;
        margin-left: 0%;
    }

    .registerElement input[type=text] {
        width: 65%;
        margin-left: 17.5%;
    }

    .registerElement input[type=submit] {
        width: 65%;
        margin-left: 17.5%;
    }

    .registerElement input[type=email]{
        width: 65%;
        margin-left: 17.5%;
    }

    .registerElement input[type=password] {
        width: 65%;
        margin-left: 17.5%;
    }
    .registerElement a, a:link,a:hover{
        margin-left: 35%;
    }

    .olduser {
        margin-left: -6%;
    }

    .forgotElement{
        margin-left: 10%;
    }

    .forgotElement h2{
        font-size: 3vw;
        margin-left: 20%;
    }

    .forgotElement h3{
        font-size: 2vw;
    }

}
